#pconte{
    margin-top: 40px;
    margin-bottom: 40px;
}

#content{
    max-width: 70%;
    display: flex;
    margin: auto;
    flex-direction: column;
    height: auto;
}

#title > h1{
    color: rgb(0, 156, 168);
}

#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    margin-bottom: 20px;
}