
* {
    font-family: "Fira Sans", sans-serif;
}

h2{
    color: rgb(0, 156, 168);
}
h5{
    color: rgb(0, 156, 168);
}

.Container-p{
    margin-top: 160px;
}

#containerEs {
    margin-top: 160px;
    max-width: 70%;
    margin: auto;
}

   @media (max-width: 559px){
      #Especialidades {
      flex-direction: row;
    }

     #Especialidades h5 {
    font-size: 14px;
    }
  }
    
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  .animated-fadeInUp {
    animation: fadeInUp 1s ease forwards;
  }
  
  .animated-rotateIn {
    animation: rotateIn 0.5s ease forwards;
  }
  
  .hidden {
    opacity: 0;
  }
 
#Ginecología{
    animation: fadeIn 2s ease-in-out ;
}  
#anestesia{
    animation: fadeIn 2s ease-in;
}
#cirugiageneral{
    animation: fadeIn 2s ease-in-out;
}
#Ortopedia{
    animation: fadeIn 2s ease-in-out;

}
#ContainerEs{
  animation: fadeIn 2s ease-in-out;
}
#titulo{
  animation: fadeIn 2s ease-in;
}
#info{
  animation: fadeIn 2s ease-in-out;
}