/* Estilos de Maternidad */
#pconte{
    margin-top: 144px;
}

#contenedor{
    max-width: 70%;
    display: flex;
    margin: auto;
    flex-direction: column;
    height: auto;
}

#informacion{
    margin-block: 15px;
}

#titulo h1{
    margin-bottom: 30px;
    color: rgb(0, 156, 168);
    font-size: 50px;
    font-weight: inherit;

}
#informacion{
    color: rgb(82, 79, 79);
    
}
/*Estilos de botones Maternidad*/
#content-btn{
    max-width: 90%;
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
}

.btn-maternity{
    width: 370px;
    height: auto;
    margin: 10px;
    background-color: #02B8BF;
    color: white;
    border: 1px solid white;
}

.btn-maternity {
    transition: transform 0.3s ease;
}

.btn-maternity:hover {
    transform: scale(1.1);
}

.btn-maternity a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 156, 168);
}

/*Maternidad Responsivo*/

@media (max-width: 559px) {
    #content-btn{
        flex-direction: column;
    }    
}