/* Estilo para la barra de navegación */
* {
    font-family: "Fira Sans", sans-serif;
}

.nav1 {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    height: 100%;

}


.nav-b {
    border: 0.5px solid #000;
}

.nav-colla {
    height: auto;
}

/* Estilo para el logo */
.logo-img {
    margin-left: 20px;
    margin-right: 160px;
}

.navbar-brand img {
    width: 233px;
    height: 57px;


}

/* Animacion para  el menú de navegación */
.navbar-nav .nav-link {
    position: relative;
    color: #000;
    padding: 5px;
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: RGB(0, 156, 168);
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::before {
    width: 100%;
}

.navbar-nav .nav-item {
    overflow: visible;
}

.navbar-nav .nav-link-expand {
    transition: transform 0.3s ease;
}

.navbar-nav .nav-link-expand:hover {
    transform: translateY(-5px);
}

/* Estilo para el dropdown */

.dropdown-menu .dropdown-item {
    transition: background-color 0.3s linear;
}

.dropdown-menu .dropdown-item:hover {
    background-color: rgb(0, 156, 168);
    color: white;
}


/* Estilo para las cajas*/

.opti-Direct {
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.box-Opti {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 262px;
    height: 165px;
}

.box-Opti h2 {
    color: white;
    text-align: center;
    font-weight: normal;
}

.bx {
    background-color: rgb(48, 182, 206);
}

.bx1 {
    background-color: rgb(0, 156, 168);

}

.bx1 a {
    text-decoration: none;

}

.bx a {
    text-decoration: none;

}

/*Animacion para las cajas*/

.box-Opti:hover {
    height: 175px;
    box-shadow: 0 0 10px 0 rgba(230, 6, 6, 0.1);
}

/* Estilo para el line */

.cont-line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-c {
    margin-top: 100px;
    width: 68%;
    height: 3px;
    background-color: rgb(0, 156, 168);
}

/* Estilo de Sobre nosotros */


.about-us {
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    height: auto;
}

.text-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;

}

.about-us h1 {
    color: rgb(0, 156, 168);
    text-align: start;
    margin-top: 50px;
    font-size: 50px;
    font-weight: inherit;
}

.text-1 {
    color: #504d4d;
    text-align: start;
    margin-top: 20px;
    font-size: 15px;
    margin-right: 20px;
}

.text-2 {
    color: #504d4d;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 15px;


}

.line {
    width: 8px;
    height: 170px;
    background-color: rgb(0, 156, 168);
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos para servicios */
.services-M {
    background-color: rgb(0, 156, 168);
    height: auto;
    margin-top: 30px;
}

.services-M h1 {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-weight: inherit;
}

.serv-r {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.serv-r1 {
    display: flex;
    flex-direction: column;
}

.serv-c {
    display: flex;
    justify-content: center;
}

.text-t {
    text-align: center;
    font-weight: normal;
}

.box-s {
    padding: 10px;
    width: 366px;
    height: auto;
    margin: 30px;
    background-color: rgb(147, 207, 211);

}

.box-s h5 {
    text-align: center;
    font-weight: normal;

    color: rgb(58, 54, 54);


}

.box-s p {
    text-align: center;
    color: white;

    font-weight: normal;

}

.box-s a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: rgb(0, 156, 168);
    color: white;

}

/*Responsivo Navbar*/
@media (max-width: 559px) {

    .logo-img {
        margin-left: 0px;
        margin-right: 0px;
    }

    .opti-Direct {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;

    }

    .box-Opti {
        width: 100%;
        height: 100px;
    }

    .about-us {
        margin-top: 15px;

    }
}

/* Responsivo Servicios */

@media (max-width: 559px) {

    .serv-r {
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    .line-c {
        display: none;
    }

    .serv-r1 {
        flex-direction: column;
    }

    .box-s {
        width: 260px;

    }

    .about-us h1 {
        text-align: center;
    }

    .line {
        height: 750px;
    }
}


/* Animacion de los servicio*/

.box-s {
    transition: transform 0.3s ease;
}

.box-s:hover {
    transform: scale(1.1);
}

.box-s a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 156, 168);
}

/* Animacion para toggle */

.toggler {
    border: none;
}

/* Estilo para el footer */

.footer-P {
    background-color: rgb(0, 156, 168);
    height: auto;
    padding: 20px;
    margin-top: 30px;
}

.f-info {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    justify-content: space-around;
    margin-top: 35px;
    align-items: center;

}

.f-netw {
    display: flex;
    flex-direction: row;
    width: auto;


}

.f-netw li {
    list-style: none;


}

.f-safety {
    width: 91px;
    height: 126px;
    display: flex;
    align-items: center;
}

.f-contac {
    width: 277px;
    height: auto;
}

.f-contac h6 {
    color: white;
    color: rgb(79, 77, 77);
    margin-right: 10px;

}

.f-contac p {
    color: white;
    font-size: 11x;
    margin-left: 29px;
    width: 300px;


}

.info-items{
    display: flex;
    flex-direction: row;

}

.subcri-b p{
    color: white;
    font-size: 15px;
    margin-top: 10px;
    width: 300px;
}

.subscribe-btn{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 150px;
    text-align: center;
    border: 1px solid rgb(82, 78, 78);
}


.suscribe-btn {
    transition: transform 0.3s ease;
}

.subscribe-btn:hover {
    transform: scale(1.1);
}

.subscribe-btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 156, 168);
}