/* Estilo para la barra de navegación */
*{
    font-family: "Fira Sans", sans-serif;
}

.nav1 {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    height: 100%;
    background-color: white;
}
/* .ml-16{
    margin-left: 135px;

} */


.nav-b {
    border: 0.5px solid #000;
}

.nav-colla {
    height: auto;
}

/* Estilo para el logo */
.logo-img {
    margin-left: 20px;
    
}

.navbar-brand img {
    width: 233px;
    height: 57px;


}

/* Animacion para  el menú de navegación */
.navbar-nav .nav-link {
    position: relative;
    color: #000;
    padding: 5px;
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(0, 156, 168);
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::before {
    width: 100%;
}

.navbar-nav .nav-item {
    overflow: visible;
}

.navbar-nav .nav-link-expand {
    transition: transform 0.3s ease;
}

.navbar-nav .nav-link-expand:hover {
    transform: translateY(-5px);
}

/* Estilo para el dropdown */

.dropdown-menu .dropdown-item {
    transition: background-color 0.3s linear;
}

.dropdown-menu .dropdown-item:hover {
    background-color: rgb(0, 198, 212);
    color: white;
}

/*Animacion del dropdown*/

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all 0.1s ease;
}

.dropdown-menu {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s ease;
}



/*Responsivo Navbar*/
@media (max-width: 559px) {

    .logo-img {
        margin-left: 0px;
        margin-right: 0px;
    }

    .opti-Direct {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;

    }

    .box-Opti {
        width: 100%;
        height: 100px;
    }


    .about-us {
        margin-top: 15px;

    }

    .ml-16{
        margin-left: 0px;
    
    }
    
}


/* Responsivo Footer */

@media (max-width: 559px) {

    /* Escondidos */

    .map{
        display: none;
    }

    .subcri-b button{
        display: none;
    }
    .subcri-b p{
        display: none;
    }

    .footer-P img{
        display: none;
        width: auto;
    }

    .fixed-header {
        position: none;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 0;

    }



}
@media (max-width: 772px) {

    /* Escondidos */

    .map{
        display: none;
    }

    .subcri-b button{
        display: none;
    }
    .subcri-b p{
        display: none;
    }

    .footer-P img{
        display: none;
        width: auto;


}
}
@media (max-width: 992px) {

    /* Escondidos */

    .map{
        display: none;
    }

    .subcri-b button{
        display: none;
    }
    .subcri-b p{
        display: none;
    }

    .footer-P img{
        display: none;
        width: auto;


}
}



/* Animacion para toggle */

.toggler {
    border: none;
}

/* Estilo para el footer */

.f-op{  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-top: 80px; */
    height: auto;
    background-color: none;
}

.footer-P {
    
    background: linear-gradient(to right, #30b6ce, #009ca8);
    height: auto;
    padding: 20px;
    margin-top: 30px;
}

.f-info {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    justify-content: space-around;
    margin-top: 35px;
    align-items: center;

}

.f-netw {
    display: flex;
    flex-direction: row;
    width: auto;


}

.f-netw li {
    list-style: none;


}

.f-safety {
    width: 91px;
    height: 126px;
    display: flex;
    align-items: center;
}

.f-contac {
    width: 277px;
    height: auto;
}

.f-contac h6 {
    color: white;
    color: rgb(79, 77, 77);
    margin-right: 10px;

}

.f-contac p {
    color: white;
    font-size: 11x;
    margin-left: 29px;
    width: 300px;


}

.info-items {
    display: flex;
    flex-direction: row;

}

.subcri-b p {
    color: white;
    font-size: 15px;
    margin-top: 10px;
    width: 300px;
}

.subscribe-btn {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 150px;
    text-align: center;
    border: 1px solid rgb(82, 78, 78);
}


.suscribe-btn {
    transition: transform 0.3s ease;
}

.subscribe-btn:hover {
    transform: scale(1.1);
}

.subscribe-btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/*Mantener posicion del header*/

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}

.clima{
    margin-top: 133px;
}

.sectionConvenios{
    background-color: #009ca8;
}
.marginConvenios{
    margin-top: 160px;
}

.subscribe-btn {
    background-color: rgb(0, 156, 168);; 
    color: white;
    padding: 10px 45px; 
    border: none; 
    border-radius: 20px; 
    font-weight: bold; 
    text-transform: uppercase; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    width: 80%;
    text-align: center; 
}
  
  .subscribe-btn:hover, .suscribe-btn:focus {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
    cursor: pointer;
  }
  
  .subscribe-btn:active {
    transform: scale(0.95); 
  }
  


