* {
    font-family: "Fira Sans", sans-serif;
}

#container{
    width: 70%;
    margin: auto;
    margin-top: 140px;
    
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

p{
    font-size: 15px;
    text-align: justify;
    margin-top: 10px;
}

