* {
    font-family: "Fira Sans", sans-serif;
}

.container {
    width: 70%;
    margin: auto;
    margin-top: 160px;
    margin-bottom: 100px;

}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 15px;
    text-align: start;
    margin-top: 10px;
}

.c-1{
    margin-bottom: 30px;

}
.c-1 h2{
    color: rgb(0, 156, 168);
    font-size: 46px;
    font-weight: inherit;
    margin-bottom: 30px;
    text-transform: uppercase;

}
/* RESPONSIVO */

@media screen and (max-width: 559px) {
    .container {
        width: 90%;
        margin-bottom: 50px;
    }
       
    }
